<img src="/images/groupchat.jpeg" alt="Group Chat" style="width: 75%; max-width: 768px; height: auto;">
<p>A silly way to chat about a serious issue. If this experience resonates with you, please reach out to a mental health specialist.</p>