<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <meta
      property="og:description"
      content="Linktree for Austen Tucker."
    />
    <meta
      property="og:image"
      content="https://cdn.discordapp.com/attachments/770043553451474988/852027380074545152/image0.png"
    />
    <title>Austen Tucker, CSM</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link href="{{stylePath}}" rel="stylesheet" />  {{!-- Use a dynamic path for the stylesheet --}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
