<div class="did-container">

  <!-- Intro Section -->
  <div class="intro-container">   
    {{> did-intro}}


  </div>
  <hr>

  <!-- Phone Box Section -->
  <div class="phone-box">
    {{> did-chat}}
  </div>
</div>
